@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Movimiento Obrero 200<br />
    66150 Ciudad Santa Catarina, Nuevo León, Mexico<br />
    <abbr title="Phone">P:</abbr>
    +52 81 83 90 92 14
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:soporte@playtrak.com.mx">soporte@playtrak.com.mx</a><br />
</address>