@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><p class="text-white">PLAYTRAK</p></h1>
    <br /><br />
    <p class="lead text-white">Somos una empresa joven que deposita sus esfuerzos en desarrollar funcionalidades innovadoras para un mercado en constante crecimiento. Aplicamos las últimas tecnologías para garantizar las soluciones más avanzadas del mercado y facilitar la interconexión con los diferentes sistemas y protocolos del mercado.</p>
    <p><a href="https://playtrak.com.mx/" class="btn btn-danger btn-lg">Aprende más en nuestra página web &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text-danger">Casino Cloud Machines</h2>
        <br /><br />
        <p>
            Casino Cloud Machines convierte el casino en una nueva plataforma de juego online. Esta tecnología innovadora te permite conectar las máquinas slot del casino a una red de plataformas de juego en línea para que cualquier persona pueda jugar en ellas en cualquier momento desde su hogar.
        </p>
        <p><a class="btn btn-danger" href="https://playtrak.com.mx/casino-cloud-machines">Obtén más información &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-danger">Castor Smart Slot Management System</h2>
        <p>Castor Smart Slot Management System te brinda las herramientas necesarias para administrar tu casino de manera remota y en tiempo real. Incluye monitoreo, accounting, reportes, TITO o cashless, player tracking, tarjetas inteligentes, touchscreen, módulos de fidelización y promociones completamente configurables.</p>
        <p><a class="btn btn-danger" href="https://playtrak.com.mx/castor-smart-sms-1">Obtén más información &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-danger">Castor Smart Table Management System</h2>
        <p> Castor Smart Table Management System es el sistema de mesas 100% cashless de PLAYTRAK. Captura y contabiliza las transacciones generadas en mesas con acceso al instante y seguro sobre tus jugadores y crupiers. Integra el sistema a cada mesa a través de una pantalla táctil y tarjetas inteligentes.</p>
        <p><a class="btn btn-danger" href="https://playtrak.com.mx/castor-smart-tms">Obtén más información &raquo;</a></p>
    </div>
</div>